.icon-arrow-down { background-image: url(../png/arrow-down.png); background-repeat: no-repeat; }
.icon-contact-email { background-image: url(../png/contact-email.png); background-repeat: no-repeat; }
.icon-contact-location { background-image: url(../png/contact-location.png); background-repeat: no-repeat; }
.icon-contact-phone { background-image: url(../png/contact-phone.png); background-repeat: no-repeat; }
.icon-menu-trigger { background-image: url(../png/menu-trigger.png); background-repeat: no-repeat; }
.icon-telephone-small { background-image: url(../png/telephone-small.png); background-repeat: no-repeat; }