.icon-arrow-down { background-image: url(png/arrow-down.png); background-repeat: no-repeat; }

.icon-contact-email { background-image: url(png/contact-email.png); background-repeat: no-repeat; }

.icon-contact-location { background-image: url(png/contact-location.png); background-repeat: no-repeat; }

.icon-contact-phone { background-image: url(png/contact-phone.png); background-repeat: no-repeat; }

.icon-E8B27866F11A6F89 { background-image: url(png/E8B27866F11A6F89.png); background-repeat: no-repeat; }

.icon-E8B27866F11A6F8A { background-image: url(png/E8B27866F11A6F8A.png); background-repeat: no-repeat; }

.icon-logo-dash-white { background-image: url(png/logo-dash-white.png); background-repeat: no-repeat; }

.icon-logo-strapline-white { background-image: url(png/logo-strapline-white.png); background-repeat: no-repeat; }

.icon-logo-thumb-black { background-image: url(png/logo-thumb-black.png); background-repeat: no-repeat; }

.icon-logo-thumb-white { background-image: url(png/logo-thumb-white.png); background-repeat: no-repeat; }

.icon-logo-white { background-image: url(png/logo-white.png); background-repeat: no-repeat; }

.icon-menu-trigger { background-image: url(png/menu-trigger.png); background-repeat: no-repeat; }

.icon-process-admin { background-image: url(png/process-admin.png); background-repeat: no-repeat; }

.icon-process-concept-design { background-image: url(png/process-concept-design.png); background-repeat: no-repeat; }

.icon-process-customer-liason { background-image: url(png/process-customer-liason.png); background-repeat: no-repeat; }

.icon-process-icon-white { background-image: url(png/process-icon-white.png); background-repeat: no-repeat; }

.icon-process-product-testing { background-image: url(png/process-product-testing.png); background-repeat: no-repeat; }

.icon-process-production { background-image: url(png/process-production.png); background-repeat: no-repeat; }

.icon-process-qc { background-image: url(png/process-qc.png); background-repeat: no-repeat; }

.icon-process-technical { background-image: url(png/process-technical.png); background-repeat: no-repeat; }

.icon-scroll-down { background-image: url(png/scroll-down.png); background-repeat: no-repeat; }

.icon-services-design { background-image: url(png/services-design.png); background-repeat: no-repeat; }

.icon-services-direction { background-image: url(png/services-direction.png); background-repeat: no-repeat; }

.icon-services-fit-testing { background-image: url(png/services-fit-testing.png); background-repeat: no-repeat; }

.icon-services-order { background-image: url(png/services-order.png); background-repeat: no-repeat; }

.icon-services-production { background-image: url(png/services-production.png); background-repeat: no-repeat; }

.icon-services-prototype { background-image: url(png/services-prototype.png); background-repeat: no-repeat; }

.icon-services-quality { background-image: url(png/services-quality.png); background-repeat: no-repeat; }

.icon-services-shipment { background-image: url(png/services-shipment.png); background-repeat: no-repeat; }

.icon-services-tech { background-image: url(png/services-tech.png); background-repeat: no-repeat; }

.icon-telephone-small { background-image: url(png/telephone-small.png); background-repeat: no-repeat; }